<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Sobre</h1>
    <h2>Blog para exercício NodeJS</h2>

    <%- include("./partials/footer.ejs") %>
</body>
</html>